{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1><a href="{{thisItem.url}}">{{ thisItem.title}}</a></h1>
    {% if 'twitter_user' in session %}
    <h3><a href="{{url_for("editItem",itemID=thisItem.id)}}">Edit Item</a> <a href="{{url_for("deleteItem",itemID=thisItem.id)}}">Delete Item</a></h3>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            {% for cat in categories %}
                {% if cat.id == thisItem.category.id %}
                    <li><strong><a href="{{url_for('getCategory', id=cat.id )}}">**{{cat.name}}**</a></strong></li>
                {% else %}
                    <li><a href="{{url_for('getCategory', id=cat.id )}}">{{cat.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        <div class="item">
            <p>{{thisItem.body}}</p>
        </div>
      </div>
</div>

{% endblock %}

