{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1><a href="{{thisItem.url}}">{{ thisItem.title}}</a></h1>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            {% for cat in categories %}
            <li><a href="{{url_for('getCategory', id=cat.id )}}">{{cat.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        <div class="item">
            <p>{{thisItem.body}}</p>
        </div>
      </div>
</div>

{% endblock %}

